body{
	margin: 0;
	padding: 0;
	font-family: 'Fira Sans', sans-serif;
}
*{
	box-sizing: border-box;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.wrapper{
	max-width: 1170px;
	margin: 0 auto;
	height: 100vh;
}
.slider{
	width: 100%;
}
.slider__holder{
	height: 400px;
	width: 100%;
}
.sliders{
	width: 100%;
	height: 400px;
	background: url(../img/bg_1.jpg);
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}
.slider__inner{
	text-align: center;
}
.slider__top{
	font-size: 17px;
	font-weight: 300;
	color: white;
	margin: 0;
}
.slider__title{
	font-size: 32px;
	font-weight: 700;
	color: white;
	margin: 0;
	letter-spacing: 2px;
}

.video{
	width: 100%;
	background: #f7f6f2;
	overflow: hidden;
}
.video .wrapper{
	background: #f7f6f2;
	height: 584px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.video__left{
	height: 100%;
	width: 475px;
	background: url(../img/about.jpg);
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}
.pulse__circle {
    height: 100px;
    width: 100px;
    background: #82ae46;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: pulse infinite ease;
    animation-duration: 1.6s;
    padding-left: 4px;
    cursor: pointer;
}
.play__icon{
	width: 22px;
}
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0px rgb(50, 205, 50, 0.3);
    }
   	60% {
        box-shadow: 0 0 5px 15px rgb(50, 205, 50, 0.3);
    }
    100% {
        box-shadow: 0 0 5px 15px rgb(50, 205, 50, 0);
    }
}
.video__right{
	text-align: left;
	transition: 0.7s ease;
}
.video__title{
	font-size: 45px;
	font-weight: 600;
	color: black;
	display: block;
	max-width: 640px;
	margin: 0;
}
.video__text{
	color: #808080;
	font-size: 17px;
	font-weight: 400;
	display: block;
	max-width: 640px;
}
.videoMargin{
	margin-top: 1.5rem;
	margin-bottom: 1rem;
}
.videoMargin2{
	margin-bottom: 1rem;
	margin-top: 0;
}
.video__button{
	font-weight: 400;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	color: white;
	background: #82ae46;
	max-width: 120px;
	padding: 10px 0;
	border-radius: 30px;
	text-decoration: none;
	transition: 0.4s ease;
}
.video__button:hover{
	background: white;
	border: 1px solid #82ae46;
	color: #82ae46;
}
.time{
	width: 100%;
	background: url(../img/bg_3.jpg);
	background-position: center;
	background-size: cover;
	height: 321px;
	overflow: hidden;
}
.time .wrapper{
	height: 321px;
	background: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
}
.time__holder{
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 950px;
}	
.time__item{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 237px;
}
.time__num{
	font-size: 35px;
	font-weight: 400;
	color: black;
	margin: 0;
}
.time__text{
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 1px;
	color: rgba(0, 0, 0, 0.7);
}

.comments{
	width: 100%;
	background: white;
}
.comments .wrapper{
	height: auto;
	padding: 6rem 15px;
}
.comments__top{
	text-align: center;
	margin-bottom: 4rem;
}
.comments__top__title{
	font-size: 1rem;
	font-family: 'Pacifico', cursive;
	color: #A0B15A;
	margin: 0;
}
.comments__title{
	font-size: 1.9rem;
	margin-bottom: 20px;
	margin-top: 10px;
}

.comments__main__text{
	display: block;
	text-align: center;
	max-width: 600px;
	margin: 0 auto;
	font-size: 1rem;
	color: gray;
}
.comments__hold{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.comments__item{
	width: 350px;
}
.comments__body{
	width: 100%;
}
.comments__ava{
	width: 100%;
}
.comments__border{
	width: 100px;
	height: 100px;
	position: relative;
	margin: 0 auto;
}
.comments__ava{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: url(../img/person_1.jpg);
	background-position: center;
	background-size: cover;
}
.comments__add{
	position: absolute;
	right: 0;
	bottom: -10px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: white;
	display: flex;
	justify-content: center;
	align-items: center;
}
.comments__add img{
	width: 30px;
}
.comments__center{
	width: 100%;
	border-left: 1px solid #e6e6e6;
	margin-bottom: 3rem;
	margin-top: 3rem;
	position: relative;
	padding-left: 20px;
}
.comments__center:before{
	content: "";
	display: block;
	position: absolute;
	left: -2px;
	top: 50%;
	width: 3px;
    height: 30px;
    background: #82ae46;
    transform: translateY(-50%);
}
.comments__text{
	width: auto;
	margin: 0;
	color: rgba(0, 0, 0, 0.8);
	font-size: 19px;
    line-height: 1.8;
    font-weight: 400;
    text-align: center;
}
.comments__bottom{
	text-align: center;
}
.name__user{
	font-size: 20px;
	font-weight: 400;
	color: black;
	margin-top: 0;
	margin-bottom: 10px;
}
.professia{
	margin: 0;
	font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px
}
.comments__target__holder{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5rem;
}
.comments__target{
	width: 10px;
    height: 10px;
    margin: 5px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}











.services{
	width: 100%;
	background: #f7f6f2;
	/*overflow: hidden;*/
}
.services .wrapper{
	height: auto;
	padding: 6rem 0;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background: #f7f6f2;
}
.services__hold{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90%;
}
.services__item{
	width: 25%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.services__img__holder{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.3s ease;
}
.services__img-color{
	background: #e4b2d6;
}
.services__img-color2{
	background: #dcc698;
}
.services__img-color3{
	background: #a2d1e1;
}
.services__img-color4{
	background: #dcd691;
}
.services__item:hover .services__img__holder{
	background: #82ae46;
}
.services__inner{
	width: 80px;
	height: 80px;
	border: 2px solid white;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: transparent;
}
.services__img1{
	width: 80px;
}
.services__img2{
	width: 55px;
}
.services__img3{
	width: 66px;
}
.services__img4{
	width: 50px;
}
.services__title{
	font-size: 16px;
	margin: 0;
	font-weight: 500;
	color: black;
	margin: 0.5rem 0;
}
.services__text{
	color: rgba(0, 0, 0, 0.5);
	font-weight: 500;
	font-size: 13px;
	margin-top: 0.3rem;
	margin-bottom: 0;
}
.scroll{
	position: absolute;
	left: 50%;
	bottom: -27px;
	height: 58px;
	width: 58px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #9EC06F;
	border-radius: 50%;
	transform: translate(-50%);
	cursor: pointer;
}
.scroll__img{
	width: 20px;
	transform: rotate(-180deg);
}
.footer{
	width: 100%;
	background: white;
	overflow: hidden;
}
.footer .wrapper{
	height: 65vh;
	background: white;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding-top: 100px;
}
.footer__item__title{
	font-size: 18px;
	font-weight: 400;
	color: black;
	margin-top: 0;
	margin-bottom: 10px;
}
.footer__text{
	width: 215px;
	display: block;
	font-size: 15px;
	color: black;
	font-weight: 400;
	text-align: left;
}
.footer__icon__holder{
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto;
	grid-column-gap: 12px;
	margin-top: 55px;
}
.footer__icon{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: gray;
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer__sprait{
	width: 22px;
	height: 22px;
}
.footer__sprait2{
	width: 12px;
}
.footer__copyright{
	font-size: 16px;
	color: black;
	font-weight: 400;
}
.footer__li{
	padding: 10px 0;
}
.footer__link{
	font-size: 16px;
	font-weight: 400;
	color: black;
	text-decoration: none;
}
.f4{
	width: 215px;
}
.footer__holder{
	display: flex;
	align-items: flex-start;
	padding-left: 40px;
	flex-direction: column;
}
.mar{
	margin-right: 40px;
}
.footer__geo{
	display: block;
	width: 150px;
	text-decoration: none;
	color: black;
	font-size: 16px;
	font-weight: 300;
	position: relative;
}
.footer__geo:before{
	position: absolute;
	left: -20px;
	top: 3px;
	content: "";
	display: block;
	background-image: url(../img/geo.png);
	background-position: center;
	background-size: cover;
	width: 11px;
	height: 15px;
}
.footer__tel{
	font-size: 16px;
	color: black;
	font-size: 16px;
	text-decoration: none;
	font-weight: 300;
	position: relative;
}
.footer__tel:before{
	position: absolute;
	content: "";
	display: block;
	background-image: url(../img/phone-receiver-silhouette.png);
	background-position: center;
	background-size: cover;
	width: 15px;
	height: 15px;
	left: -20px;
	top: 3px;
}
.footer__email{
	font-size: 16px;
	font-weight: 300;
	color: black;
	text-decoration: none;
	position: relative;
}
.footer__email:before{
	position: absolute;
	left: -20px;
	top: 3px;
	background-image: url(../img/email.png);
	background-position: center;
	background-size: cover;
	width: 15px;
	height: 14px;
	content: "";
	display: block;
}


























/*Модальное окно с gif*/
.gif__wrap{
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-right: 1rem;
	padding-left: 2rem;
	background: white;
	position: fixed;
	right: -100%;
	opacity: 0;
	transition: 0.7s ease;
	bottom: 0;
	border: 1px solid #F6E7DF;
}
.gif__block{
	margin-right: 1rem;
}
.gif__modal__title{
	font-size: 23px;
	font-weight: 400;
	color: #8C807B;
	margin: 0 auto;
	display: block;
	max-width: 340px;
	text-align: center;
}
.gif__modal__text{
	font-size: 25px;
	font-weight: 600;
	color: #FF553E;
	margin: 10px 0;
	width: 330px;
}
.gif__button{
	background: #FF553E;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Fira Sans', sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: white;
	border: none;
	outline: none;
	margin: 0 auto;
	width: 100%;
	padding: 0.9rem 0;
}
.gif{
	width: 250px;
}
.gif-close{
	position: absolute;
	left: 0.3rem;
	top: 0.3rem;
	width: 1.7rem;
	cursor: pointer;
}
.gif-active{
	right: 0;
	opacity: 1;
}















@media screen and (max-width: 992px) {
	.wrapper{
		max-width: 992px;
	}
	.video .wrapper{
		height: auto;
	}
	.video__left{
		height: 812px;
		margin-right: 45px;
	}
	.newsletter .wrapper{
		padding: 0 20px;
	}
	.email{
		width: 300px;
	}
	.time__item{
		width: 180px;
	}
	.comments__item{
		width: 33%;
	}
	.services__hold{
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}
	.services__item{
		width: 100%;
		margin: 0.5rem 0;
	}
	.footer .wrapper{
		padding: 45px 20px 0;
		height: 400px;
	}
	.footer__icon__holder{
		grid-template-columns: auto;
		grid-template-rows: auto auto auto;
		margin-top: 0;
	}
}
@media screen and (max-width: 767px) {
	.video .wrapper{
		flex-direction: column;
	}
	.video__left{
		width: 100%;
		height: 300px;
		margin: 0;
	}
	.video__right{
		margin-top: 88px;
		width: 80%;
		padding: 0 10px;
	}
	.video__text{
		width: 100%;
	}
	.newsletter .wrapper{
		padding: 100px 10px;
		flex-direction: column;
		height: auto;
	}
	.newsletter__left{
		width: 100%;
	}
	.newsletter__title{
		margin: 0;
	}
	.newsletter__text{
		margin-top: 5px;
		margin-bottom: 5px;
		font-weight: 300;
	}
	.newsletter__right{
		width: 100%;
	}
	.email{
		width: 82%;
	}
	.newsletter__button{
		width: 18%;
	}
	.time{
		height: auto;
	}
	.time .wrapper{
		padding: 110px 0;
		height: auto;
	}
	.time__holder{
		flex-direction: column;
		align-items: center;
	}
	.footer .wrapper{
		flex-direction: column;
		align-items: flex-start;
	}
	.footer__icon__holder{
		grid-template-columns: auto auto auto;
		grid-template-rows: auto;
		margin-top: 0;
	}
}
@media screen and (max-width: 576px) {
	.wrapper{
		max-width: 576px;
	}
	.video__right{
		width: 100%;
		margin-top: 40px;
	}
	.video__title{
		font-size: 2.5rem;
	}
	.form__news{
		display: grid;
		grid-template-columns: 2fr 1fr;
		width: 100%;
	}
	.email{
		width: 100%;
	}
	.newsletter__button{
		width: auto;
		padding: 0 0.4rem;
	}
	.comments__hold{
		flex-direction: column;
		align-items: center;
		width: 90%;
	}
	.comments__item{
		width: 100%;
		margin-top: 20px;
	}
	.footer .wrapper{
		height: auto;
		padding-top: 35px;
		padding-left: 10px;
		padding-right: 10px;
	}
}




.slider__top.scroll__elem{
	transform: translateX(-400%);
	opacity: 0;
	transition: 0.5s ease;
}
.slider__top.anim{
	transform: translateX(0);
	opacity: 1;
}
.slider__title.scroll__elem{
	transform: translateX(-400%);
	opacity: 0;
	transition: 0.5s ease;
}
.slider__title.anim{
	transform: translateX(0);
	opacity: 1;
}
.video__right.scroll__elem{
	transform: translateX(300%);
	opacity: 0;
	transition: 0.5s ease;
}
.video__right.anim{
	transform: translateX(0);
	opacity: 1;
}
.newsletter__left.scroll__elem{
	transform: translateX(-300%);
	opacity: 0;
	transition: 0.5s ease;
}
.newsletter__left.anim{
	transform: translateX(0);
	opacity: 1;
}
.comments__item.scroll__elem{
	transform: translateX(-200%);
	opacity: 0;
	transition: 0.5s ease;
}
.comments__item.anim{
	transform: translateX(0);
	opacity: 1;
}
.newsletter__right.scroll__elem{
	transform: translateX(200%);
	opacity: 0;
	transition: 0.5s ease;
}
.newsletter__right.anim{
	transform: translateX(0);
	opacity: 1;
}
.time__holder.scroll__elem{
	transform: translateY(100%);
	opacity: 0;
	transition: 0.4s ease;
}
.time__holder.anim{
	opacity: 1;
	transform: translateY(0);
}
.fromLeft.scroll__elem{
	transform: translateX(-200%);
	opacity: 0;
	transition: 0.5s ease;
}
.fromLeft.anim{
	transform: translateX(0);
	opacity: 1;
}
.fromRight.scroll__elem{
	transform: translateX(200%);
	opacity: 0;
	transition: 0.5s ease;
}
.fromRight.anim{
	transform: translateX(0);
	opacity: 1;
}