body{
	margin: 0;
	padding: 0;
	font-family: 'Fira Sans', sans-serif;
}
*{
	box-sizing: border-box;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.wrapper{
	max-width: 1170px;
	margin: 0 auto;
	height: 100vh;
}
.slider{
	width: 100%;
}
.slider__holder{
	height: 400px;
	width: 100%;
}
.sliders{
	width: 100%;
	height: 400px;
	background: url(../img/bg_1.jpg);
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}
.slider__inner{
	text-align: center;
}
.slider__top{
	font-size: 17px;
	font-weight: 300;
	color: white;
	margin: 0;
}
.slider__title{
	font-size: 32px;
	font-weight: 700;
	color: white;
	margin: 0;
	letter-spacing: 2px;
}


.card{
	width: 100%;
	background: white;
}
.card .wrapper{
	padding-top: 6rem;
	padding-bottom: 3rem;
	height: auto;
	display: flex;
	justify-content: center;
}
.card-block-holder{
	width: 100%;
	overflow-x: scroll;
}
.card__block{
	width: 1170px;
}
.card__top{
	width: 100%;
	height: 68px;
	background: #82ae46;
	display: flex;
	justify-content: flex-end;
	align-items: center;  
}
.card__inner{
	display: flex;
}
.card__inner p{
	font-size: 1rem;
	font-weight: 500;
	color: white;
	margin: 0;
}
.card-name{
	padding: 0 148px;
}




.card-price{
	padding: 0 34px;
}
.quantity{
	padding: 0 115px;
}
.total{
	padding: 0 33px;
}
.card__content{
	width: 100%;
	height: auto;
}
.card__item{
	width: 100%;
	height: 183px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 30px;
	border-bottom: 1px solid gray;
}

.remove__product{
	width: 27px;
	height: 31px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	font-size: 15px;
	font-weight: 400;
	color: gray;
	transition: 0.4s ease;
}
.remove__product:hover{
	background: #82ae46;
	border: 1px solid #82ae46;
	color: white;
}
.product__img-holder{
	width: 100px;
	height: 100px;
}
.product__img-holder img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.product__info{
	width: 315px;
	text-align: center;
}
.product__name{
	font-size: 16px;
	font-weight: 400;
	color: black;
	margin: 0;
}
.product__describe{
	font-size: 16px;
	font-weight: 300;
	color: gray;
	margin-bottom: 0;
	margin-top: 0.3rem;
}
.product__price{
	font-size: 16px;
	font-weight: 400;
	color: black;
}
.count__price{
	width: 200px;
	height: 54px;
	border: 1px solid rgba(0, 0, 0, 0.05);
	color: black;
	outline: none;
	text-align: center;
	font-family: 'Fira Sans', sans-serif;
	font-size: 17px;
}
.price__result{
	font-size: 16px;
	font-weight: 400;
	color: black;
}

.card-formalized{
	width: 100%;
}
.card-formalized .wrapper{
	padding-bottom: 6rem;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	height: auto;
}
.card__code-holder{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 30%;
}
.form-item{
	border: 1px solid rgba(0, 0, 0, 0.05);
	padding: 1.8rem 1rem; 
	background: white;
	width: 100%;
}
.form-item-name{
	margin-top: 0;
	font-size: 16px;
	margin-bottom: 2rem;
	color: black;
	font-weight: 400;
}
.form-item-info{
	margin: 0;
	font-size: 15px;
	font-weight: 400;
	color: gray;
}
.form-input__holder{
	width: 100%;
}
.form-input__holder.form-margin{
	margin-top: 20px;
}
.form-input__title{
	margin: 0;
	font-size: 13px;
	color: black;
	font-weight: 400;
	margin-bottom: 0.5rem;
}
.form__input{
	width: 100%;
	height: 54px;
	border: 1px solid rgba(0, 0, 0, 0.05);
	outline: none;
	padding-left: 0.8rem
}
.form-button{
	height: 58px;
	padding: 0 1.5rem;
	font-size: 1rem;
	background: #82ae46;
    border: 1px solid #82ae46;
    color: #fff;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 30px;
    margin-top: 1rem;
    transition: 0.3s ease;
}
.form-button:hover{
	background: white;
	color: #82ae46;
}

.form-result-holder{
	width: 100%;
}
.form-result{
	display: flex;
	width: 70%;
	justify-content: space-between;
	align-items: center;
}
.form-result p{
	margin: 0;
	font-size: 15px;
	font-weight: 400;
	color: gray;
	margin-bottom: 2rem;
}
.form-result-holder.border-bottom{
	border-bottom: 1px solid gray;
}
.total-result-holder{
	display: flex;
	width: 70%;
	justify-content: space-between;
	align-items: center;
}
.total__title{
	font-size: 17px;
	font-weight: 400;
	color: gray;
}
.newsletter{
	width: 100%;
	background: #F8F7F4;
}
.newsletter .wrapper{
	height: 35vh;
	background: #F8F7F4;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
.scroll{
	position: absolute;
	left: 50%;
	bottom: -27px;
	height: 58px;
	width: 58px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #9EC06F;
	border-radius: 50%;
	transform: translate(-50%);
	cursor: pointer;
}
.scroll__img{
	width: 20px;
	transform: rotate(-180deg);
}
.newsletter__left{
	text-align: left;
}
.newsletter__title{
	font-size: 30px;
	color: black;
	font-weight: 400;
	margin: 5px 0px;
}
.newsletter__text{
	font-size: 17px;
	color: gray;
	font-weight: 300;
	margin: 5px 0px;
}
.newsletter__right{
	display: flex;
}
.email{
	width: 447px;
	height: 52px;
	background: white;
	outline: none;
	border: none;
	font-family: 'Fira Sans', sans-serif;
	padding-left: 13px;
	font-size: 15px;
	color: gray;
}
.newsletter__button{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15px;
	font-weight: 300;
	width: 93px;
	height: 52px;
	background: #91B85C;
	color: white;
	text-decoration: none;
	transition: 0.7s ease;
	position: relative;
	z-index: 3;
	outline: none;
	border: none;
}
.newsletter__button:hover{
	box-shadow: 0px 0px 10px 20px black;
	color: black;
}
.footer{
	width: 100%;
	background: white;
}
.footer .wrapper{
	height: 65vh;
	background: white;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding-top: 100px;
}
.footer__item__title{
	font-size: 18px;
	font-weight: 400;
	color: black;
	margin-top: 0;
	margin-bottom: 10px;
}
.footer__text{
	width: 215px;
	display: block;
	font-size: 15px;
	color: black;
	font-weight: 400;
	text-align: left;
}
.footer__icon__holder{
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto;
	grid-column-gap: 12px;
	margin-top: 55px;
}
.footer__icon{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: gray;
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer__sprait{
	width: 22px;
	height: 22px;
}
.footer__sprait2{
	width: 12px;
}
.footer__copyright{
	font-size: 16px;
	color: black;
	font-weight: 400;
}
.footer__li{
	padding: 10px 0;
}
.footer__link{
	font-size: 16px;
	font-weight: 400;
	color: black;
	text-decoration: none;
}
.f4{
	width: 215px;
}
.footer__holder{
	display: flex;
	align-items: flex-start;
	padding-left: 40px;
	flex-direction: column;
}
.mar{
	margin-right: 40px;
}
.footer__geo{
	display: block;
	width: 150px;
	text-decoration: none;
	color: black;
	font-size: 16px;
	font-weight: 300;
	position: relative;
}
.footer__geo:before{
	position: absolute;
	left: -20px;
	top: 3px;
	content: "";
	display: block;
	background-image: url(../img/geo.png);
	background-position: center;
	background-size: cover;
	width: 11px;
	height: 15px;
}
.footer__tel{
	font-size: 16px;
	color: black;
	font-size: 16px;
	text-decoration: none;
	font-weight: 300;
	position: relative;
}
.footer__tel:before{
	position: absolute;
	content: "";
	display: block;
	background-image: url(../img/phone-receiver-silhouette.png);
	background-position: center;
	background-size: cover;
	width: 15px;
	height: 15px;
	left: -20px;
	top: 3px;
}
.footer__email{
	font-size: 16px;
	font-weight: 300;
	color: black;
	text-decoration: none;
	position: relative;
}
.footer__email:before{
	position: absolute;
	left: -20px;
	top: 3px;
	background-image: url(../img/email.png);
	background-position: center;
	background-size: cover;
	width: 15px;
	height: 14px;
	content: "";
	display: block;
}























@media screen and (max-width: 992px) {
	.card .wrapper{
		
		padding-top: 4rem;
		padding-bottom: 2rem;
	}
	.card-block-holder{
		width: 90%;
		overflow-x: scroll;
	}
	.card-formalized .wrapper{
		flex-wrap: wrap;
		justify-content: center;
	}
	.card__code-holder{
		width: 80%;
	}
	.marginBottom{
		margin-bottom: 1rem;
	}
	.newsletter .wrapper{
		padding: 10px 20px;
		height: auto;
	}
	.email{
		width: 330px;
	}
	.footer .wrapper{
		padding: 45px 20px 0;
		height: 400px;
	}
	.footer__icon__holder{
		grid-template-columns: auto;
		grid-template-rows: auto auto auto;
		margin-top: 0;
		grid-row-gap: 1rem;
	}
}
@media screen and (max-width: 767px) {
	.newsletter .wrapper{
		flex-direction: column;
		align-items: center;
	}
	.newsletter__left{
		text-align: center;
		margin-bottom: 10px;
	}
	.footer .wrapper{
		flex-direction: column;
		align-items: flex-start;
	}
	.footer__icon__holder{
		grid-template-columns: auto auto auto;
		grid-template-rows: auto;
		margin-top: 0;
	}
}
@media screen and (max-width: 576px) {
	.wrapper{
		max-width: 576px;
	}
	.newsletter .wrapper{
		padding-bottom: 40px;
	}
	.newsletter__right{
		width: 100%;
	}
	.email{
		width: 80%;
	}
	.footer .wrapper{
		height: auto;
		padding-top: 35px;
		padding-left: 10px;
		padding-right: 10px;
	}
}
@media screen and (max-width: 390px) {
	.newsletter .wrapper{
		padding-bottom: 45px;
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 10px;
	}
	.newsletter__right{
		flex-wrap: wrap;
		justify-content: center;
	}
	.email{
		width: 100%;
		text-align: center;
	}
	.newsletter__button{
		width: 100%;
		margin-top: 10px;
	}
}