body{
	margin: 0;
	padding: 0;
	font-family: 'Fira Sans', sans-serif;
}
*{
	box-sizing: border-box;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.wrapper{
	max-width: 1170px;
	margin: 0 auto;
	height: 100vh;
}
.slider{
	width: 100%;
}
.slider__holder{
	height: 400px;
	width: 100%;
}
.sliders{
	width: 100%;
	height: 400px;
	background: url(../img/bg_1.jpg);
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}
.slider__inner{
	text-align: center;
}
.slider__top{
	font-size: 17px;
	font-weight: 300;
	color: white;
	margin: 0;
}
.slider__title{
	font-size: 32px;
	font-weight: 700;
	color: white;
	margin: 0;
	letter-spacing: 2px;
}



.contact{
	width: 100%;
	background: #f7f6f2;
	overflow: hidden;
}
.contact .wrapper{
	background: #f7f6f2;
	padding-top: 6rem;
	padding-bottom: 3rem;
	display: flex;
	justify-content: space-between;
	height: auto;
}
.contact__item{
	width: 22%;
	height: 145px;
	padding: 1.5rem;
	background: white;
}
.contact__title{
	font-size: 17px;
	font-weight: 400;
	color: gray;
}
.contact__title a{
	color: black;
	text-decoration: none;
}

.google-map{
	width: 100%;
	background: #f7f6f2;
}
.google-map .wrapper{
	padding-bottom: 6rem;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
.google-map__border{
	width: 48%;
	height: 560px;
	border: 2px solid gray;
}
.form_body{
	width: 48%;
}
.formLogin{
	width: 100%;
	height: 560px;
	padding: 3rem;
	background: white;
}
.form_body input{
	outline: none;
}
.form_body input::placeholder{
	font-size: 15px;
	color: gray;
}
.form_body input:focus{
	border: 1px solid black;
}
.Form-name{
	width: 100%;
	height: 52px;
	margin-bottom: 1rem;
	color: black;
	padding: 0.375rem 0.75rem;
	font-size: 17px;
	font-weight: 400;
	border: 1px solid gray;
	transition: 0.3s ease;
	font-family: 'Fira Sans', sans-serif;
}
.form-email{
	width: 100%;
	height: 52px;
	margin-bottom: 1rem;
	color: black;
	padding: 0.375rem 0.75rem;
	font-size: 17px;
	font-weight: 400;
	border: 1px solid gray;
	transition: 0.3s ease;
	font-family: 'Fira Sans', sans-serif;
}
.subject{
	width: 100%;
	height: 52px;
	margin-bottom: 1rem;
	color: black;
	padding: 0.375rem 0.75rem;
	font-size: 17px;
	font-weight: 400;
	border: 1px solid gray;
	transition: 0.3s ease;
	font-family: 'Fira Sans', sans-serif;
}
.textarea{
	font-size: 17px;
	font-weight: 400;
	color: gray;
	border: 1px solid gray;
	width: 100%;
	height: 168px;
	padding: 0.375rem 0.75rem;
	outline: none;
	font-family: 'Fira Sans', sans-serif;
	margin-bottom: 1rem;
	color: black;
}
.textarea:focus{
	border: 1px solid black;
}
.form-button{
	width: 215px;
	height: 58px;
	border-radius: 30px;
	background: #82ae46;
	border: 1px solid #82ae46;
	color: white;
	font-family: 'Fira Sans', sans-serif;
	transition: 0.3s ease;
	outline: none;
}
.form-button:hover{
	background: white;
	color: #82ae46;
}
.scroll{
	position: absolute;
	left: 50%;
	bottom: -27px;
	height: 58px;
	width: 58px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #9EC06F;
	border-radius: 50%;
	transform: translate(-50%);
	cursor: pointer;
}
.scroll__img{
	width: 20px;
	transform: rotate(-180deg);
}
.footer{
	width: 100%;
	background: white;
}
.footer .wrapper{
	height: 65vh;
	background: white;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding-top: 100px;
}
.footer__item__title{
	font-size: 18px;
	font-weight: 400;
	color: black;
	margin-top: 0;
	margin-bottom: 10px;
}
.footer__text{
	width: 215px;
	display: block;
	font-size: 15px;
	color: black;
	font-weight: 400;
	text-align: left;
}
.footer__icon__holder{
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto;
	grid-column-gap: 12px;
	margin-top: 55px;
}
.footer__icon{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: gray;
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer__sprait{
	width: 22px;
	height: 22px;
}
.footer__sprait2{
	width: 12px;
}
.footer__copyright{
	font-size: 16px;
	color: black;
	font-weight: 400;
}
.footer__li{
	padding: 10px 0;
}
.footer__link{
	font-size: 16px;
	font-weight: 400;
	color: black;
	text-decoration: none;
}
.f4{
	width: 215px;
}
.footer__holder{
	display: flex;
	align-items: flex-start;
	padding-left: 40px;
	flex-direction: column;
}
.mar{
	margin-right: 40px;
}
.footer__geo{
	display: block;
	width: 150px;
	text-decoration: none;
	color: black;
	font-size: 16px;
	font-weight: 300;
	position: relative;
}
.footer__geo:before{
	position: absolute;
	left: -20px;
	top: 3px;
	content: "";
	display: block;
	background-image: url(../img/geo.png);
	background-position: center;
	background-size: cover;
	width: 11px;
	height: 15px;
}
.footer__tel{
	font-size: 16px;
	color: black;
	font-size: 16px;
	text-decoration: none;
	font-weight: 300;
	position: relative;
}
.footer__tel:before{
	position: absolute;
	content: "";
	display: block;
	background-image: url(../img/phone-receiver-silhouette.png);
	background-position: center;
	background-size: cover;
	width: 15px;
	height: 15px;
	left: -20px;
	top: 3px;
}
.footer__email{
	font-size: 16px;
	font-weight: 300;
	color: black;
	text-decoration: none;
	position: relative;
}
.footer__email:before{
	position: absolute;
	left: -20px;
	top: 3px;
	background-image: url(../img/email.png);
	background-position: center;
	background-size: cover;
	width: 15px;
	height: 14px;
	content: "";
	display: block;
}


















/*Форма об успешной отправке формы*/
.access__wrap{
	width: 300px;
	height: 100px;
	background: white;
	border-radius: 5px;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	top: -100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: 0.5s ease;
}
.access__wrap span{
	color: black;
	font-weight: 400;
	font-size: 1rem;
}
.access__active{
	top: 10px;
}
/*Форма об ошибке*/
.error__wrap{
	width: 300px;
	height: 100px;
	background: white;
	border-radius: 5px;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	top: -100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: 0.5s ease;
	border: 1px solid red;
}
.error__wrap span{
	color: black;
	font-weight: 400;
	font-size: 1rem;
}
.error__active{
	top: 10px;
}
















@media screen and (max-width: 992px) {
	.footer .wrapper{
		padding: 45px 20px 0;
		height: 400px;
	}
	.footer__icon__holder{
		grid-template-columns: auto;
		grid-template-rows: auto auto auto;
		margin-top: 0;
	}
}
@media screen and (max-width: 767px) {
	.contact .wrapper{
		flex-direction: column;
		align-items: center;
	}
	.contact__item{
		width: 80%;
		height: 90px;
	}
	.google-map .wrapper{
		flex-direction: column-reverse;
		height: auto;
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 5rem;
	}
	.google-map__border{
		width: 100%;
		height: 300px;
	}
	.form_body{
		width: 100%;
	}
	.footer .wrapper{
		flex-direction: column;
		align-items: flex-start;
	}
	.footer__icon__holder{
		grid-template-columns: auto auto auto;
		grid-template-rows: auto;
		margin-top: 0;
	}
}

@media screen and (max-width: 576px) {
	.wrapper{
		max-width: 576px;
	}
	.footer .wrapper{
		height: auto;
		padding-top: 35px;
		padding-left: 10px;
		padding-right: 10px;
	}
}



.slider__inner .scroll__elem{
	transform: translateX(-200%);
	opacity: 0;
	transition: 0.4s ease;
}
.slider__inner .anim{
	transform: translateX(0);
	opacity: 1;
}
.fromLeft.scroll__elem{
	transform: translateX(-300%);
	opacity: 0;
	transition: 0.4s ease;
}
.fromRight.scroll__elem{
	transform: translateX(300%);
	opacity: 0;
	transition: 0.4s ease;
}
.contact .anim{
	transform: translate(0);
	opacity: 1;
}